/* Copy from materializecss.com */
.valign-wrapper {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
/* Copy from materializecss.com */



*, *:focus {outline: none;}
html, body {height: 100% !important;}
.no-margin {margin: 0 !important;}
.no-padding {padding: 0 !important;}
.no-border {border: none !important;}
.mt-0 {margin-top: 0 !important;}
.mt-5 {margin-top:5px !important;}
.mt-10 {margin-top:10px !important;}
.mt-15 {margin-top:15px !important;}
.mt-20 {margin-top:20px !important;}
.mt-25 {margin-top:25px !important;}
.mt-30 {margin-top:30px !important;}
.mt-35 {margin-top:35px !important;}
.mt-40 {margin-top:40px !important;}
.mt-45 {margin-top:45px !important;}
.mt-50 {margin-top:50px !important;}
.mb-0 {margin-bottom:0 !important;}
.mb-5 {margin-bottom:5px !important;}
.mb-10 {margin-bottom:10px !important;}
.mb-15 {margin-bottom:15px !important;}
.mb-20 {margin-bottom:20px !important;}
.mb-25 {margin-bottom:25px !important;}
.mb-30 {margin-bottom:30px !important;}
.mb-35 {margin-bottom:35px !important;}
.mb-40 {margin-bottom:40px !important;}
.mb-45 {margin-bottom:45px !important;}
.mb-50 {margin-bottom:50px !important;}
.ml-0 {margin-left: 0 !important;}
.ml-5 {margin-left: 5px !important;}
.ml-10 {margin-left: 10px !important;}
.ml-15 {margin-left: 15px !important;}
.mr-0 {margin-right: 0 !important;}
.mr-5 {margin-right: 5px !important;}
.mr-10 {margin-right: 10px !important;}
.mr-15 {margin-right: 15px !important;}
.pt-0 {padding-top: 0 !important;}
.pt-5 {padding-top: 5px !important;}
.pt-10 {padding-top: 10px !important;}
.pt-15 {padding-top: 15px !important;}
.pt-20 {padding-top: 20px !important;}
.pt-25 {padding-top: 25px !important;}
.pt-30 {padding-top: 30px !important;}
.pr-0 {padding-right: 0 !important;}
.pr-5 {padding-right: 5px !important;}
.pr-10 {padding-right: 10px !important;}
.pr-15 {padding-right: 15px !important;}
.pr-20 {padding-right: 20px !important;}
.pr-25 {padding-right: 25px !important;}
.pr-30 {padding-right: 30px !important;}
.pb-0 {padding-bottom: 0 !important;}
.pb-5 {padding-bottom: 5px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pb-15 {padding-bottom: 15px !important;}
.pb-20 {padding-bottom: 20px !important;}
.pb-25 {padding-bottom: 25px !important;}
.pb-30 {padding-bottom: 30px !important;}
.pl-0 {padding-left: 0 !important;}
.pl-5 {padding-left: 5px !important;}
.pl-10 {padding-left: 10px !important;}
.pl-15 {padding-left: 15px !important;}
.pl-20 {padding-left: 20px !important;}
.pl-25 {padding-left: 25px !important;}
.pl-30 {padding-left: 30px !important;}
.relative-box {position: relative;}
.overflow-hidden {overflow: hidden;}
.fat {font-weight: 900 !important;}
.bold {font-weight: 700 !important;}
.regular {font-weight: 400 !important;}
.thin {font-weight: 300 !important;}
.text-smaller {font-size: 90% !important;}
.text-small {font-size: 80% !important;}
.text-bigger {font-size: 115% !important;}
.text-big {font-size: 125% !important;}
h1, h2, h3, h4, h5, h6 {font-weight: 600;}
.text-muted {
	color: inherit !important;
	opacity: 0.65;
}
.small-pad {padding: 10px !important;}
.lh-1 {line-height: 1 !important;}
.lh-n {line-height: normal !important;}
.inline-block {display: inline-block;}
.full-height {height: 100%;}
.full-width {width: 100%;}
#slider {
    background: #5a385f;
    background: -webkit-linear-gradient(to top, #5a385f, #611f38);
    background: linear-gradient(to top, #5a385f, #611f38);
    color: #ffffff !important;
    height: 650px;
}
.carousel-control-next, .carousel-control-prev {width: 8% !important;}
.valign-wrapper > .valign-box {width: 100%;}
#slider .valign-box {padding: 0 calc(8% + 15px);}
.slider-title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
}
.bg-slider {
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.img-card {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 150px;
}
.bg-slider:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: rgba(0,0,0,.75);
    z-index: 0;
}
.bg-slider > div {
    position: relative;
    z-index: 1;
}
.card {
    border: none !important;
    border-radius: 10px !important;
    overflow: hidden;
    box-shadow: 3px 3px 15px rgba(0,0,0,.15);
    margin-bottom: 20px;
}
.hoverable {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.hoverable:hover {box-shadow: 3px 5px 25px rgba(0,0,0,.2);}
.modal-content {
    border: none !important;
    box-shadow: 5px 5px 25px rgba(0,0,0,.15);
}
.form-group > label {
    opacity: 0.55;
    font-size: 80%;
    font-weight: 600;
    margin: 0;
}
.card-artikel > p {height: 120px;}
.modal-header > h1, .modal-header > h2, .modal-header > h3, .modal-header > h4, .modal-header > h5, .modal-header > h6 {margin: 0 !important;}
.nav-pills > .nav-item {margin: 0 5px 5px 0;}
.tab-content {
    border: 1px solid rgba(0,0,0,.25);
    padding: 0.75rem;
    border-radius: 0.25rem;
}
.oneline {
    display: block;
    white-space: nowrap;
    overflow-y: auto;
}
.nav-pills.oneline > .nav-item {display: inline-block;}
/*.oneline::-webkit-scrollbar {width: 7px;}
.oneline::-webkit-scrollbar-track {background: rgba(0,0,0,.3);}
.oneline::-webkit-scrollbar-thumb {background: rgba(0,0,0,.55);}*/
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.25);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,.5); 
}



@media screen and (max-width: 767px) {
    .countbox h4 {font-size: 100%;}
    .modal-dialog {
        width: 90% !important;
        height: 90% !important;
    }
    .modal-header {display: block !important;}
}