.modal-backdrop.show {
    /*display: none;*/
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position: relative;
    /*padding: 0px;*/
}

.close {
    position: absolute;
    /*right: -30px;*/
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    /*color: #fff;*/
    opacity: 1;
}

.play-btn .btn.btn-primary.video-btn {
    position: relative;
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 10;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background: #9352b3;
    -webkit-box-shadow: 0 10px 30px 0 rgba(147, 82, 179, 0.7);
    -moz-box-shadow: 0 10px 30px 0 rgba(147, 82, 179, 0.7);
    box-shadow: 0 10px 30px 0 rgba(147, 82, 179, 0.7);
}

.play-btn .btn.btn-primary.video-btn .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}